# Default server configuration
#
upstream twisted {
	server localhost:8081;
}

server {
	listen 443 ssl;
	server_name _;
	ssl_certificate /etc/letsencrypt/live/op-nl.onionperf.torproject.net/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/op-nl.onionperf.torproject.net/privkey.pem;

	location / {
		proxy_set_header        Host $host:$server_port;
    		proxy_set_header        X-Real-IP $remote_addr;
    		proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    		proxy_set_header        X-Forwarded-Proto $scheme;
    		proxy_redirect 		http:// https://;
    		proxy_pass              http://twisted;
	}
}
